.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "t1 t1 t1 t1 t1 t1 t1 t1"
      "t2 t2 t2 t2 t3 t3 t3 t3"
      "t4 t4 t4 t4 t5 t5 t5 t5"
      "t6 t6 t6 t6 t6 t6 t6 t6"
      "t7 t8 t8 t9 t10 t11 t11 t12"
      "t13 t14 t14 t15 t16 t17 t17 t17"
      "pusto1 t18 t18 pusto2 t21 t22 t22 t22"
      "pusto1 t19 t19 pusto2 t23 t24 t24 t24"
      "pusto1 t20 pusto3 pusto2 t25 t26 t26 t26"
      "pusto pusto pusto pusto t27 t28 t28 t28"
      "pusto pusto pusto pusto t29 t30 t31 t32"
      "pusto pusto pusto pusto t33 t33 t33 t33"
      "pusto pusto pusto pusto t34 t34 t34 t34"
      "pusto pusto pusto pusto pusto4 t35 t35 pusto5"
      "t36 t36 t36 t36 t36 t36 t36 t36";
      /* background-color: #a2a2a2; */
      height: 100VH;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 14px;
      background-color: azure;
  }
  .select {
    background-color: rgb(255, 255, 255); /* Light grey background */
    color: #333; /* Text color */
    padding: 3px 10px;
    font-size: 14px;
    border: 1px solid rgb(203, 204, 204); /* Blue border */
    border-radius: 5px;
    cursor: pointer;
  }
  .clickable-text {
    color: rgba(255, 0, 0, 0.8); /* Red color for the text */
    text-decoration: underline; /* Underline the text */
    cursor: pointer;
  }

  .t18, .t19, .t33, .t34, .t11, .t17, .t22, .t24, .t26, .t28, .t8, .t14 {
    text-align: start;
}
.t10, .t7, .t13, .t16, .t21, .t23, .t25, .t27, .t29 { 
  text-align: end;
}
  .myCheckbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(255, 0, 0, 0.8);
    outline: none;
  }
  .myInput {
    padding: 5px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  .myCheckbox:checked {
    background-color: rgba(255, 0, 0, 0.8);
    content: '!';
  }
  .myButton {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 3px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .t1 { grid-area: t1; background-color: azure;}
  
  .t2 { grid-area: t2; background-color: azure;}
  
  .t3 { grid-area: t3; background-color: azure;}
  
  .t4 { grid-area: t4; background-color: azure;}
  
  .t5 { grid-area: t5; background-color: azure;}
  
  .t6 { grid-area: t6; background-color: azure;}
  
  .t7 { grid-area: t7; background-color: azure;}
  
  .t8 { grid-area: t8; background-color: azure;}
  
  .t9 { grid-area: t9; background-color: azure;}
  
  .t10 { grid-area: t10; background-color: azure;}
  
  .t11 { grid-area: t11; background-color: azure;}
  
  .t12 { grid-area: t12; background-color: azure;}
  
  .t13 { grid-area: t13; background-color: azure;}
  
  .t14 { grid-area: t14; background-color: azure;}
  
  .t15 { grid-area: t15; background-color: azure;}
  
  .t16 { grid-area: t16; background-color: azure; }
  
  .t17 { grid-area: t17; background-color: azure;}
  
  .t18 { grid-area: t18; background-color: azure;}
  
  .t19 { grid-area: t19; background-color: azure;}
  
  .t20 { grid-area: t20; background-color: azure;}
  
  .t21 { grid-area: t21; background-color: azure;}
  
  .t22 { grid-area: t22; background-color: azure;}
  
  .t23 { grid-area: t23; background-color: azure;}
  
  .t24 { grid-area: t24;background-color: azure; }
  
  .t25 { grid-area: t25; background-color: azure;}
  
  .t26 { grid-area: t26; background-color: azure;}
  
  .t27 { grid-area: t27; background-color: azure;}
  
  .t28 { grid-area: t28; background-color: azure;}
  
  .t29 { grid-area: t29; background-color: azure;}
  
  .t30 { grid-area: t30; background-color: azure;}
  
  .t31 { grid-area: t31; background-color: azure;}
  
  .t32 { grid-area: t32;background-color: azure; }
  
  .t33 { grid-area: t33; background-color: azure;}
  
  .t34 { grid-area: t34; background-color: azure;}
  
  .t35 { grid-area: t35; background-color: azure;}
  
  .t36 { grid-area: t36; background-color: azure;}
  
  .pusto { grid-area: pusto; background-color: azure;}
  
  .pusto1 { grid-area: pusto1; background-color: azure;}
  
  .pusto2 { grid-area: pusto2; background-color: azure;}
  
  .pusto3 { grid-area: pusto3; background-color: azure;}
  
  .pusto4 { grid-area: pusto4; background-color: azure;}
  
  .pusto5 { grid-area: pusto5; background-color: azure;}
  

  .container-2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 1fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "m1 m1 m1 m1 m1 m1"
      "m2 m2 m2 m3 m4 m5"
      "pic pic pic m6 m7 m8"
      "pic pic pic m9 m10 m11"
      "pic pic pic none none m12"
      "pic pic pic m13 m14 m15"
      "pic pic pic m16 m17 m18"
      "pic pic pic m19 m20 m21"
      "pic pic pic m22 m23 m24"
      "pic pic pic m25 m26 m27"
      "m28 m29 none3 m30 m30 none2"
      "none4 none4 none4 m31 m31 m31";
      /* background-color: #a2a2a2; */
      height: 100VH;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 14px;
      background-color: azure;
  }
  
  .m1 { grid-area: m1; background-color: azure;}
  
  .m2 { grid-area: m2; background-color: azure;}
  
  .m3 { grid-area: m3; background-color: azure;}
  
  .m4 { grid-area: m4; background-color: azure;}
  
  .m5 { grid-area: m5; background-color: azure;}
  
  .m6 { grid-area: m6; background-color: azure;}
  
  .m7 { grid-area: m7; background-color: azure;}
  
  .m8 { grid-area: m8; background-color: azure;}
  
  .m9 { grid-area: m9; background-color: azure; }
  
  .m10 { grid-area: m10; background-color: azure;}
  
  .m11 { grid-area: m11; background-color: azure;}
  
  .m12 { grid-area: m12; background-color: azure;}
  
  .none { grid-area: none; background-color: azure;}
  
  .m14 { grid-area: m14; background-color: azure;}
  
  .m13 { grid-area: m13; background-color: azure;}
  
  .m15 { grid-area: m15; background-color: azure;}
  
  .m16 { grid-area: m16; background-color: azure;}
  
  .m17 { grid-area: m17; background-color: azure;}
  
  .m18 { grid-area: m18; background-color: azure;}
  
  .m19 { grid-area: m19; background-color: azure;}
  
  .m20 { grid-area: m20; background-color: azure;}
  
  .m21 { grid-area: m21; background-color: azure;}
  
  .m22 { grid-area: m22; background-color: azure;}
  
  .m23 { grid-area: m23; background-color: azure;}
  
  .m24 { grid-area: m24; background-color: azure;}
  
  .m25 { grid-area: m25; background-color: azure;}
  
  .m26 { grid-area: m26; background-color: azure;}
  
  .m27 { grid-area: m27; background-color: azure;}
  
  .m28 { grid-area: m28; background-color: azure;}
  
  .m29 { grid-area: m29; background-color: azure;}
  
  .m30 { grid-area: m30; background-color: azure;}
  
  .m31 { grid-area: m31; background-color: azure;}
  
  .none2 { grid-area: none2; background-color: azure;}
  
  .pic { grid-area: pic; background-color: azure;}
  
  .none3 { grid-area: none3; background-color: azure;}
  
  .none4 { grid-area: none4; background-color: azure;}
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td {
    border: 1px solid #a9a9a9; /* Add border for demonstration */
    text-align: center; /* Center align text in cell */
    vertical-align: middle; /* Vertically center text in cell */
    height: 100px; /* Set height for demonstration */
    font-size: 14px; /* Set font size */
  }
  button {
    padding: 3px 10px;
    font-size: 14px;
    margin: 0px; /* Increase the margin between button and text */
  }
  .gray-background {
    background-color: rgb(231, 231, 231); /* Set gray background color */
    padding: 5px 15px; /* Add padding for better visibility */
  }

  .m8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .m13, .m14, .m15 {
    background-color: rgb(231, 231, 231);
  }

  .favorite-heart {
    color: rgb(255, 0, 0);
    font-size: 20px;
    cursor: pointer;
}